@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 250 249 247;
    --foreground: 24 46 50;
    --radius: 0.5rem;
  }
}

@layer base {
  :root {
    --background: 250 249 247;
    --foreground: 24 46 50;
    --radius: 0.5rem;
  }
  
  html {
    font-size: 16px;
  }
  
  * {
    @apply border-primary/20;
  }
  
  body {
    @apply bg-background text-foreground;
    font-size: 1rem;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
